- resource.email = params[:email] unless resource.email.present?
#hero#register-page
  .text-heading
    %p.animated.hiding{"data-animation" => "fadeInDown", "data-delay" => "2500"}
      Connectez-vous
  .container
    .row.animated.hiding{"data-animation" => "bounceInUp", "data-delay" => "1500"}
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12

        = simple_form_for resource, :html => {:class => 'form form-register border-top dark animated hiding' }, as: resource_name, url: session_path(resource_name) do |f|
          - if devise_mapping.rememberable?
            = f.input :remember_me, as: :hidden, input_html: {value: true}
            = f.input :email, autofocus: true, required: true, label: false, placeholder: 'Email'        
            = f.input_field :password, required: true, autocomplete: 'off', placeholder: 'Mot de passe'
          = f.input :password, required: true, label: false do |input|
            - if devise_mapping.recoverable?
              = link_to I18n.t('auth.forgot.prompt'), new_password_path(resource_name), class: 'pull-right small'
          = f.button :submit, I18n.t('auth.login.link'), class: 'btn btn-primary btn-lg btn-block' 
          %hr
          .social-text-form 
            Connexion via
          = render 'authentications/providers', flow: 'login', icons: true
          %hr
          .social-text  
            = render 'users/shared/links', disable_forgot: true