#hero#register-page
  .text-heading
    %p.animated.hiding{"data-animation" => "fadeInDown", "data-delay" => "2500"}
      %img{src: '/assets/images/logo.png', width: '300'}      
  .container
    .row.animated.hiding{"data-animation" => "bounceInUp", "data-delay" => "1500"}
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
      
        - if resource.email.present?
          - login_link = link_to I18n.t('auth.login.link'), add_to_url(new_user_session_path, email: resource.email)
        - else
          - login_link = link_to I18n.t('auth.login.link'), new_user_session_path

        - if @failed
          = render 'users/registrations/failed', provider: @provider

        - unless @auth   
          .form.form-register.border-top.dark.animated.hiding                             
            = render 'authentications/providers', flow: 'signup', icons: true, color: true

        - else # @auth
          .alert.alert-success
            %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
            = render 'users/avatar', size: :thumb, user: @auth
            Bienvenue,
            = @auth.display_name
            Ce n'est pas vous?
            = link_to 'Effacer', destroy_user_session_path, rel: :nofollow, class: 'btn-small btn-primary'
            %i.icon.icon-badges-votes-10          

          - unless @existing_account
            .alert.alert-info
              %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
              Nous avons pré-rempli vos informations depuis
              = succeed '.' do
                = @auth.provider_name
              Veuillez vérifier et valider.
              %i.icon.icon-alerts-18          

        - if @existing_account
          -if provider = @existing_account.authentications.first.try(:provider)
            - url = provider_auth_path(provider, flow: 'login')
            - login_with_link = link_to I18n.t('auth.login.link_with', provider: Authentication.provider_name(provider)), url
          - else
            - login_with_link = login_link

          .alert.alert-warning
            %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
            = I18n.t('auth.signup.email_taken', login_link: login_with_link).html_safe
            %i.icon.icon-alerts-01            


        = render 'users/registrations/form', hide_password: @auth.present?