- if resource.email.present?
  - login_link = link_to I18n.t('auth.login.link'), add_to_url(new_user_session_path, email: resource.email)
- else
  - login_link = link_to I18n.t('auth.login.link'), new_user_session_path

- if @failed
  = render 'users/registrations/failed', provider: @provider

.auth__form
  - unless @auth
    %a
      %img.logo{:src => "/assets/logo-inverted.png"}       

    = render 'authentications/providers', flow: 'signup', icons: true, color: true
    .auth__or
      %hr
      %span ou

  - else # @auth
    %h2
      = render 'users/avatar', size: :thumb, user: @auth
      Bienvenue,
      = @auth.display_name
    %p
      Ce n'est pas vous?
      = link_to 'Effacer', destroy_user_session_path, rel: :nofollow, class: 'btn btn-default btn-xs'

    - unless @existing_account
      %p
        Nous avons rempli certaines informations depuis
        = succeed '.' do
          = @auth.provider_name
        Veuillez vérifier ces informations et confirmer.

  - if @existing_account
    -if provider = @existing_account.authentications.first.try(:provider)
      - url = provider_auth_path(provider, flow: 'login')
      - login_with_link = link_to I18n.t('auth.login.link_with', provider: Authentication.provider_name(provider)), url
    - else
      - login_with_link = login_link
    .alert.alert-warning
      = I18n.t('auth.signup.email_taken', login_link: login_with_link).html_safe

  = render 'users/registrations/form', hide_password: @auth.present?

  .auth__links
    En vous inscrivant, vous acceptez nos conditions
    = link_to 'Conditions', terms_path
    et
    = succeed '.' do
      = link_to 'Confidentialité', privacy_path

  = render 'users/social/facepile'

- content_for :on_ready do
  $('input[name="user[email]"]').on('click keydown', function(){$(this).closest('form').find('.collapse').addClass('in')});

